.products-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #00b4d86d;
    background-image: url(../../assets/background/concrete-texture-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    justify-content: center;
    align-items: center;
    --products-color: rgb(255, 189, 66);
    /* background-color: #48cae4; */
}

.products-text{
    text-align: center;
}

.products-ul{
    text-align: left;
    color:white;
    padding: 1.5em;
    font-size: 1.4em;
    font-weight:lighter;
    font-style: italic;
}

.products-li{
    margin-bottom: 0.5em;
    list-style:disc;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.products-text h2{
    color: var(--products-color);
    font-size: 3em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.products-text h3{
    margin-top: 0.3em;
    color: white;
    font-weight: lighter;
    font-size: 2.6em;
    color: var(--products-color);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.products-text p{
    color: white;
    font-size: 1.3em;
    margin-top: 1em;
    text-shadow: 0px 0px 6px black;
}

.mosaico-images{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1.5em;
    padding-top: 2em;
}

.mosaico-images img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 1100px) {
    .products-container {
        width: 100%;
        height: calc(100vh - 60px);
        flex-direction: row;
    }

    .mosaico-images{
        width: 50%;
        padding: 2em 5em;
    }

    .products-text{
        width: 50%;
        padding-left: 1em;
    }

    .products-text h3{
        font-size: 1.5em;
        width: 100%;

    }

    .products-text p{
        margin-top: 0.5em;
        font-size: 1em;
    }

    .products-ul{
        text-align: left;
        font-size: 1em;
        padding: 1.5em 4em;
    }
    .products-li{
        margin-bottom: 0px;
        list-style:disc;
    }
}